#sidebar-nav {
    width: 250px;
 }

.product-page{
    height:100vh;
    background-color: rgba(244, 239, 239, 0.703);
}

.sidebar-area{
    background-color:  #f0f2f2e7;
}

.list-group-item{
    background-color: #f0f2f2e7;
}

.list-group-item > span{
    margin-left: 15%;
}
