<!--Main Navigation-->
<header>
    <farmfresh-header></farmfresh-header>
</header>
<body>
    <div class="row">
        <div class="banner col-12">
            <img src="../../../../../assets/Banner Photo.jpg"
            height="100%"
            width="100%"
            alt="">
        </div>
    </div>

    <div class="row promotion">
        <div class="col-6">
            <div class="slogan">
                <h1>FRESH FOOD FOR <br/> A FRESHER YOU</h1>  <br/> <br/>
                <h3> Quality food, quality life.</h3>
            </div>
        </div>
        <div class="col-6">
            <img src="../../../../../assets/Side image.png"
            height="80%"
            width="80%"
            alt="avatar.png">
        </div>

        <div class="col-4">
            <div class="promotional-img">
                <img src="../../../../../assets/clock.png"
                height="120px"
                width="200px"
                alt="avatar.png"> <br/> <br/>

                <div >
                    <h3>Online anywhere</h3>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="promotional-img">
                <img src="../../../../../assets/delivery-truck.png"
                height="120px"
                width="200px"
                alt="avatar.png"> <br/> <br/>

                <div>
                    <h3>Fast Delivery</h3>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="promotional-img">
                <img src="../../../../../assets/support.png"
                height="120px"
                width="200px"
                alt="avatar.png"> <br/> <br/>

                <div>
                    <h3>24/7 Support</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <router-outlet (activate)="onActivate($event)"></router-outlet>
    </div>
      <!-- /#wrapper -->
</body>
  
