.banner{
  margin-top: 11vh;
  height:100vh;
}

.promotion{
  margin-top: 8vh;
  height:100vh;
}

.slogan{
  margin-left:120px;
}

.promotional-img{
  margin-left:120px;
}

body{
  overflow-x: hidden;
}