<section class="vh-100">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img src="../../../../../assets/FarmFresh Logo.png"
            class="img-fluid" alt="Sample image">
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
          <form [formGroup]="signInForm" (ngSubmit)="login()">
            <p class="" style="text-align:center;color:red;;">{{errorStatus}} <br>
              <a *ngIf="!accountVerified" style="cursor: pointer;color:blue; font-size: small;" (click)="resendVerificationEmail()"><u>Resend Verification Link</u></a>
            </p>
            <!-- Email input -->
            <div class="form-outline mb-4">
                <label class="form-label" for="loginform">Email address</label>
                <input type="email" id="loginformemail" class="form-control"
                    formControlName="email" 
                    placeholder="Enter a valid email address" />

                <div class="invalid-form" *ngIf="submitted && loginForm['email'].errors?.['required']">
                  <sup>*</sup>Email address is required
                </div>
                <div class="invalid-form" *ngIf="submitted && loginForm['email'].errors?.['email']">
                  <sup>*</sup>Please enter valid email address
                </div>
            </div>
  
            <!-- Password input -->
            <div class="form-outline mb-3">
                <label class="form-label" for="loginform">Password</label>
                <input type="password" id="loginformpassword" class="form-control"
                    formControlName="password" 
                    placeholder="Enter password" />

                <div class="invalid-form" *ngIf="submitted && loginForm['password'].errors?.['required']">
                  <sup>*</sup>Password is required
                </div>
            </div>
  
            <div class="d-flex justify-content-between align-items-center">
              <!-- Checkbox -->
              <div class="form-check mb-0">
                <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
                <label class="form-check-label" for="form2Example3">
                  Remember me
                </label>
              </div>
              <a href="#!" class="text-body">Forgot password?</a>
            </div>
  
            <div class="text-center text-lg-start mt-4 pt-2">
              <button type="submit" class="btn btn-primary"
                style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button>
            </div>
  
          </form>
        </div>
      </div>
    </div>
    <!-- <div
      class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary">
      <div class="text-white mb-3 mb-md-0">
        Copyright © 2022. All rights reserved.
      </div>

      <div>
        <a href="#!" class="text-white me-4">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="#!" class="text-white me-4">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="#!" class="text-white me-4">
          <i class="fab fa-google"></i>
        </a>
        <a href="#!" class="text-white">
          <i class="fab fa-linkedin-in"></i>
        </a>
      </div>
    </div> -->
  </section>